{
  "listenPort": 80,
  "env": "dev",

  "jenkins": {
    "host": "ci.host.com",
    "port": 8080
  },

  "views": {
    "example": {
      "jobs": [
        {"name":"live-frontend", "displayName":"Live Frontend", "width":4},
        {"name":"live-frontend-deploy", "displayName":"Live Frontend Deploy", "width":4},
        {"name":"training-frontend-deploy", "displayName":"Train Frontend Deploy", "width":4},
        {"name":"live-api", "displayName":"Live API", "width":4},
        {"name":"live-api-deploy", "displayName":"Live API Deploy", "width":4},
        {"name":"training-api-deploy", "displayName":"Train API Deploy", "width":4}
      ]
    }
  }
}